@define-color text            #ffffff;
@define-color background      rgba(0, 0, 0, 0.75);
@define-color background-alt  rgba(255, 230, 0, 0.1);
@define-color selected        #ffe600;
@define-color hover           rgba(255, 0, 60, 0.4);
@define-color urgent          #ff003c;

* {
    color: @text;
    all: unset;
    font-size: 14px;
    font-family: "SpaceMono Nerd Font";
    transition: 200ms ease-in-out;
}

/* Transparent base */
.blank-window {
    background: transparent;
}

.control-center {
    background: @background;
    border-radius: 24px;
    border: 1px solid @selected;
    box-shadow: 0 0 12px 2px @selected;
    margin: 18px;
    padding: 12px;
}

.control-center .notification-row .notification-background,
.control-center
    .notification-row
    .notification-background
    .notification.critical {
    background-color: @background-alt;
    border-radius: 16px;
    margin: 4px 0px;
    padding: 4px;
}

.control-center
    .notification-row
    .notification-background
    .notification.critical {
    color: @urgent;
    border-left: 4px solid @urgent;
}

.control-center
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 6px;
    padding: 8px 6px 2px 2px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 3.4em;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    background: @hover;
    color: @text;
    border-radius: 12px;
    margin: 6px;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background: @selected;
    box-shadow: 0 0 6px @selected;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: @selected;
}

/* Close Buttons */
.control-center .notification-row .notification-background .close-button {
    background: transparent;
    border-radius: 6px;
    color: @text;
    padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
    background-color: @hover;
}

.control-center
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @selected;
}

/* Progress Bars */
progressbar,
progress,
trough {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

progressbar {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Notification Groups */
.notification-group {
    margin: 2px 8px;
}

.notification-group-headers {
    font-weight: bold;
    font-size: 1.25rem;
    color: @selected;
    letter-spacing: 2px;
    text-shadow: 0 0 4px @selected;
}

.notification-group-icon {
    color: @selected;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: transparent;
    color: @text;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @hover;
    box-shadow: 0 0 4px @hover;
}

/* Widgets */

.widget-title {
    font-size: 1.2em;
    margin: 6px;
    color: @selected;
    text-shadow: 0 0 6px @selected;
}

.widget-title button {
    background: @background-alt;
    border-radius: 6px;
    padding: 4px 16px;
}

.widget-title button:hover {
    background-color: @hover;
}

.widget-title button:active {
    background-color: @selected;
}

/* Do Not Disturb */
.widget-dnd {
    margin: 6px;
    font-size: 1.2rem;
}

.widget-dnd > switch {
    background: @background-alt;
    border-radius: 8px;
    padding: 2px;
}

.widget-dnd > switch:hover {
    background: @hover;
}

.widget-dnd > switch:checked {
    background: @selected;
}

.widget-dnd > switch:checked:hover {
    background: @hover;
}

.widget-dnd > switch slider {
    background: @text;
    border-radius: 6px;
}

/* Button Grid */
.widget-buttons-grid {
    font-size: x-large;
    padding: 6px 2px;
    margin: 6px;
    border-radius: 12px;
    background: @background-alt;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 4px 10px;
    padding: 6px 12px;
    background: transparent;
    border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @hover;
}

/* Music Widget */
.widget-mpris {
    background: @background-alt;
    border-radius: 16px;
    color: @text;
    margin: 20px 6px;
}

.widget-mpris-player {
    background-color: @background;
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
    color: @text;
    border-radius: 20px;
}

.widget-mpris button {
    color: rgba(255, 255, 255, 0.6);
}

.widget-mpris button:hover {
    color: @selected;
    text-shadow: 0 0 4px @selected;
}

.widget-mpris-album-art {
    border-radius: 16px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
    color: @selected;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
    color: @text;
}

/* Volume Widget */
.widget-volume {
    background: @background;
    color: @selected;
    padding: 4px;
    margin: 6px;
    border-radius: 6px;
}
